<div class="container" xmlns="http://www.w3.org/1999/html">
  <app-header></app-header>

<!--  <div class="left-content">-->
<!--    <div class="ad-container">-->
<!--      <p class="ad-description">Place your Ad here...</p>-->
<!--      <img src="./assets/images/ad1.png" alt="Advertisement 1" class="ad-image" />-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="right-content">-->
<!--    <div class="ad-container">-->
<!--      <p class="ad-description">Place your Ad here...</p>-->
<!--      <img src="./assets/images/ad2.jpg" alt="Advertisement 2" class="ad-image" />-->
<!--    </div>-->
<!--  </div>-->

  <div class="center-content">

    <!-- Beginning of Form -->
    <div *ngIf="!apiResponse">
      <div class="form">
        <h2>Investment Calculator</h2>
        <p>Enter the amount you want to invest, the start and end date and the stock you want to invest in.</p>
        <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
          <label for="investValue">Investment Amount</label>
          <input type="text" id="investValue" name="investValue" placeholder="Enter Amount" formControlName="investValue">
          <div>
            <span style="color: crimson" *ngIf="reactiveForm.get('investValue').invalid && reactiveForm.get('investValue').touched">Please enter a valid amount</span>
          </div>

          <label for="startDate">Start Date</label>
          <input type="date" min="1980-01-31" max="2999-12-31" id="startDate" name="startDate" formControlName="startDate">

          <div>
            <span style="color: crimson" *ngIf="reactiveForm.get('startDate').invalid && reactiveForm.get('startDate').touched">Please enter a valid date</span>
          </div>
          <label for="endDate">End Date</label>
          <input type="date" min="1980-01-31" max="2999-12-31" id="endDate" name="endDate" formControlName="endDate">
          <div>
            <span style="color: crimson" *ngIf="reactiveForm.get('endDate').invalid && reactiveForm.get('endDate').touched">Please enter a valid date</span>
          </div>

          <label for="stockName">Stock <br></label>
          <select id="stockName" name="stockName" formControlName="stockName">
            <option value="default">Choose Stock</option>
            <option *ngFor="let stock of availableStocks | keyvalue">{{stock.key}}</option>
          </select>
          <div>
            <span style="color: crimson" *ngIf="reactiveForm.get('stockName').invalid && reactiveForm.get('stockName').touched">Please choose a Stock from the List</span>
            <span style="color: black" *ngIf="reactiveForm.get('stockName').value !== 'default' && reactiveForm.get('stockName').touched">
              <strong>Stock Name:</strong> {{availableStocks[reactiveForm.get('stockName').value].valueOf()}}
            </span>
          </div>
          <label for="submit"></label>
          <input type="submit" id="submit" name="stockValue">
        </form>
      </div>
    </div>

    <!-- Show the Values from the API on the on the page (without the Form) -->
    <div *ngIf="apiResponse">

      <h2>Take a look at your investment:</h2>
      <p>If you would have invested {{investValue}}$ in {{stockName}} at the chosen dates you would have a loss or gain of <strong>{{gainLossValue}}$</strong>. </p>
      <p>Take a look at the all the values below to analyze your investment.</p>
<br>
      <h3>Investment Details:</h3>
      <p>Start Date: {{ startDate }}</p>
      <p>End Date: {{ endDate }}</p>
      <p>Stock Name: {{ stockName }}</p>
      <p>Start Value: {{ startValue }}$</p>
      <p>End Value: {{ endValue }}$</p>
      <p>Invest Value: {{ investValue }}$</p>
      <p>Final Value: {{ finalValue }}$</p>
      <p>Gain/Loss Value: {{ gainLossValue }}$</p>
      <br>
      <br>
      <button onClick="window.location.reload();" class="button">Start Over</button>
      <br>
      <br>
      <button (click)="exportStockData()" class="button">Export CSV</button>
      <br>
<!--   Adr:   Table with results    -->
    </div>

    <!-- Not needed everything will be shown on one page
    <app-results
      [startDate]="startDate"
      [endDate]="endDate"
      [stockName]="stockName"
      [startValue]="startValue"
      [endValue]="endValue"
      [investValue]="investValue"
      [finalValue]="finalValue"
      [gainLossValue]="gainLossValue"
    ></app-results>
    -->
  </div>

  <!-- A Footer on the page with some information about this project -->
  <app-footer></app-footer>

</div>
