
/* Update the color scheme */
body, html {
  background-color: #373B3F;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

p,
h1, h2, h3, h4 {
  color: #333333;
  font-family: 'Lato', sans-serif;
}

/* Set the font */
body {
  font-family: 'Lato', sans-serif;
}

/* Create a grid container */
.container {
  display: grid;
  grid-template-rows: minmax(150px, 18%) minmax(1000px, 75%) minmax(50px, 7%); /* Header, Content, Footer */
  grid-template-columns: 20% 1fr 20%; /* Left, Center, Right */
  gap: 0;
  height: 100%; /* Set the container height to 100% */
}


/* Header */
.header {
  grid-row: 1;
  grid-column: 1 / -1; /* Span all columns */
  background-color: #373B3F;
  color: #ffffff;
  padding: 10px;
  margin: 0;
  text-align: center;
  display: flex;
  align-items: self-start;
  flex-direction: column;
  justify-content: center;
}
.header {
  background-color: #373B3F;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}


.header-title {
  font-size: 32px;
  margin-bottom: 5px;
  color: #ffffff;
}

.header-subtitle {
  font-size: 18px;
  font-style: italic;
  color: #ffffff;
}

/* Footer */
.footer {
  grid-row: 3;
  grid-column: 1 / -1; /* Span all columns */
  background-color: #373B3F;
  color: #ffffff;
  padding: 50px;
  margin: 0;
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: space-between; /* Distribute items evenly */
  align-items: center;
  box-sizing: border-box;
  text-align: right;
  width: 100%; /* Set the width to 100% */
  position: fixed; /* Set the position to fixed */
  bottom: 0; /* Position at the bottom */
}

.footer p {
  color: white;
  margin: 0 0 10px;
}
.footer .authors {
  text-align: left;
  margin: auto;
}
.footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: right;
}
.footer ul li {
  margin-bottom: 5px;
}

.footer ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #686f75;
}

.footer ul li a:hover,
.footer ul li a:active {
  color: #ffffff;
  background-color: #686f75;
}
.authors {
  text-align: center;
}
.footer .left-content {
  justify-self: start;
}

.footer .authors {
  justify-self: center;
  text-align: right;
}

/* Left content */
.left-content {
  grid-row: 2;
  grid-column: 1;
  background-color: #E4ECF2;
  padding: 20px;
}

/* Right content */
.right-content {
  grid-row: 2;
  grid-column: 3;
  background-color: #E4ECF2;
  padding: 20px;
}

/* Center content */
.center-content {
  grid-row: 2;
  grid-column: 2;
  background-color: #F5FCFF;
  padding: 50px;
  margin: 0;
  display: flex;
  justify-content: center;
}

/* Apply styles to the form */
.form {
  font-family: 'Lato', sans-serif;
  border-radius: 6px;
  background-color: #DCECF7;
  padding: 50px;
  width: 100%; /* Set the form width to 100% */
  max-width: 450px; /* Limit the maximum width to 1800px */
  max-height: 100%;
  box-sizing: border-box;
}

.form h2 {
  margin-bottom: 20px;
  color: #333333;
}

.form label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
  color: #555555;
}

.form input,
.form select {
  width: 80%;
  padding: 10px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  color: #333333;
}

.form input[type="submit"] {
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
}

.form input[type="submit"]:hover {
  background-color: #0069d9;
}

.form span {
  color: #DC0BCC;
}

/* Apply styles to the results section */
.results {
  border-radius: 6px;
  background-color: #F3FBFF;
  padding: 20px;
}

.results h3 {
  margin-bottom: 20px;
  color: #333333;
}

.results p {
  margin-bottom: 10px;
  color: #333333;
}

.results button {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
}

.button {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
/* Non-Form Buttons */
.button:hover {
  background-color: #0069d9;
}

.button:hover {
  background-color: #0069d9;
}

.results button:hover {
  background-color: #4459F2;
}

/* Add colorful elements */
.form input,
.form select,
.results button {
  transition: background-color 0.3s ease;
}

.form input:hover,
.form select:hover,
.results button:hover {
  background-color: #D2ECFF;
}

.form input:focus,
.form select:focus,
.results button:focus {
  outline: none;
  background-color: #A9D9FF;
}

.form span {
  color: #dc3545;
}
